<div class="jumbotron center col-xs-12">

  <div class="row">
    <div class="col-xs-12 col-md-3">  
      <% if @team.image? %>
        <%= image_tag @team.image.thumb, class: 'img-responsive center-block img-rounded' %>
      <% else %>
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/8185-200.png">
      <% end %>
    </div>
    <div class="col-xs-12 col-md-9">  
      <% if @team.players.any? {|profile| profile.id === current_user.user_profile.id} %>
    
        <span class="label label-danger pull-right">My Team</span>
      <% end %>
      <h1><%= @team.name %></h1>
          <p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">View Player</button>

            <% if @team.id === current_user.user_profile.team.id %>

              <%= link_to "Edit Team", edit_team_path(@team.id)  %>
            <% else %>

            <% end %> 

            <% if !@team.players.any? {|profile| profile.id == current_user.user_profile.id} %>

              <%= link_to "Join Team", '/teams/join_team/' + @team.id.to_s, class: "btn btn-success", data: { confirm: "Are you sure you would like to join this team?  If you are on another team, this WILL remove you from that roster." } %>
  
            <% end %>

          </p>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col-xs-4 center">
<h3>Upcoming Games:</h3>
  <%  @upcoming_games.each do |game| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= game.event.name %></h3>
  </div>
  <div class="panel-body">
<%= game.event.date_time.strftime("%B") %> <%= game.event.date_time.strftime("%d") %>, <%= game.event.date_time.strftime("%Y") %>
  </div>
</div>

  <% end %>
</div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<ul class="list-unstyled center">
			<% @team.players.each do |player| %>
				<li>
					<a href="/user_profiles/<%=player.id %>"><%= player.name  %></a>
				</li>
			

			<% end %>
    	</ul>
    </div>
  </div>
</div>