<div class="jumbotron col-xs-12 col-sm-5">
	<div class="media-body">
    	<h1 class="media-heading"><%= @event.name   %></h1>
    	<h2><%= @event.date_time.strftime("%b")  %>, <%= @event.date_time.strftime("%Y")  %> - <%= @event.date_time.strftime("%l")  %>:<%= @event.date_time.strftime("%M")  %> <%= @event.date_time.strftime("%p")  %></h2>
    	<h4>Location: <%=@event.location  %></h4>  
	</div>
</div>

<div class="jumbotron col-xs-12 col-sm-offset-2 col-sm-5">
	<ul class="list-unstyled">
		<% @event.games.each do |game| %>

		<li><%= link_to game.name, game_path(game.id)  %></li>

		<% end %>
	</ul>
</div>